* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    margin: 163px 0px 0px 123px;
    display: inline-block;
}

header {
    margin: 47px 42px;
}

.link-reader {
    color: #17233D;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    cursor: pointer;
    margin-right: 32px;
}

.link-reader:active {
opacity: .1;
}

section {
    margin-left: 85px;
    display: inline-block;
    max-width: 493px;
}

h1 {
    color: #161A49;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596px;
    font-weight: 700;
    margin-bottom: 47px;
}

p {
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin-top: 47px;
    margin-bottom: 55px;
}

.button-header {
    Width: 124px;
    Height: 51px;
    Border: 1px;
    border: 1px solid #4CB538;
    background-color: #4CB538;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.button-header:hover{
    opacity: .5;
}
.button-header:active{
    opacity: .8;
}

.link-footer {
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.link-footer:active {
    opacity: .8;
}

@media screen and (max-width:1335px) {
    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
}   

@media screen and (max-width:900px) {

main {
      flex-direction: column-reverse;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
 img {
    width: 312px;
    height: 288px;
    margin: auto;
}

header {
text-align: right;
}

section {
    text-align: center;
    margin: auto;
    width: auto;
}

    .link-reader {
        display: none;
    }

    .button-header {
        width: 91px;
        height: 31px;
    }

    h1 {
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.596px;
        text-align: center;
        width: 278px;
        margin: 124px 12px 29px 14px;
    }

    p {
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.5px;
        text-align: center;
        width: 304px;
        margin-bottom: 26px;
    }

      .link-footer {
        text-align: center;
        margin: auto;
        vertical-align: middle;
    }
}